<!DOCTYPE html>
<html>

<head>
    {{>header}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <!-- Register Section -->
    <section id="form" data-aos="fade-down">
        <div class="container">
            <h3 class="form__title">
                Login
            </h3>
            <div class="form__wrapper">
                <form action="/login" method="POST" netlify>
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form__group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn primary-btn">Send</button>
                </form>
            </div>
        </div>
    </section>
    <!-- End Contact Form Section-->
    {{>footer}}
    <!-- aos script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- custom script -->
    <script src="/main.js"></script>
</body>

</html>